@model ShoppingList.Models.ShoppingItemViewModel

@{
    ViewData["Title"] = "Index";
}

<h4>Add shopping item</h4>

<div class="background">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                @Html.Partial("_InputForm")
            </div>
        </div>
    </div>
</div>

<hr/>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Purchased already?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ShoppingItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <form id="isPurchasedForm" method="post" asp-controller="Home" asp-action="SwitchIsPurchased" asp-route-id="@item.Id">
                    <input type="checkbox" checked="@item.IsPurchased" onchange="$('#isPurchasedForm').delay(1000).then(submit());" />
                </form>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
